<nav style="font-size: 30px; margin-bottom: 40px; background-color: blueviolet;">
    <a style="padding-left: 10px; background-color: lightgreen; margin-left: 10px;" routerLink="">Home</a>
    <a style="padding-left: 10px; background-color: lightgreen; margin-left: 10px;" routerLink="counter">Counter</a>
    <a style="padding-left: 10px; background-color: lightgreen; margin-left: 10px;" routerLink="if-else">If-Else</a>
    <a style="padding-left: 10px; background-color: lightgreen; margin-left: 10px;" routerLink="switch-case">Switch Case</a>
    <a style="padding-left: 10px; background-color: lightgreen; margin-left: 10px;" routerLink="ng-for-loop">ng For Loop</a>
    <a style="padding-left: 10px; background-color: lightgreen; margin-left: 10px;" routerLink="about">About</a>
    <a style="padding-left: 10px; background-color: lightgreen; margin-left: 10px;" routerLink="**">404</a>
</nav>
<router-outlet></router-outlet>